/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Adding Custom Styles */
/* Desktop First Approach */

/* My Resets */
html {
    font-size: 16px;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
button,
input,
select,
textarea {
    border: none;
    outline: none;
    box-shadow: none;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
    padding: 0;
    font-weight: 600;
}
/* General Styles */
body {
    font-family: 'Raleway', sans-serif;
    max-width: 1370px;
    width: 100%;
    line-height: 1.5;
}

.none {
    display: none;
}

/* Headings */
h1{
    font-size: 32px;
    font-weight: 600;
}

/* Text */
p, span{
    font-size: .8rem;
}

/* Forms */
form {
width: 40%;
margin: 0 auto;
padding: 3rem;
background: linear-gradient(90deg, rgba(240, 85, 65, 0.37),
                                    rgba(149, 184, 22, 0.3));
}
form input{
    padding: .5rem;
    margin: 1rem;
}

/* Flex */
.flex {
    display: flex;
}
.flex-column {
    flex-direction: column;
}
.justify-between {
    justify-content: space-between;
}
.justify-center {
    justify-content: center;
}
.align-center {
    align-items: center;
}
.wrap {
    flex-wrap: wrap;
}
.flex-20 {
    flex: 0 1 20%;
}
.flex-24 {
    flex: 0 1 24%;
}
.flex-30 {
    flex: 0 1 30%;
}
.flex-32 {
    flex: 0 1 31.5%;
}
.flex-34 {
    flex: 0 1 34%;
}
.flex-40 {
    flex: 0 1 40%;
}
.flex-49 {
    flex: 0 1 49%;
}
.flex-60 {
    flex: 0 1 60%;
}
.flex-64 {
    flex: 0 1 64%;
}
.flex-80 {
    flex: 0 1 80%;
}
.center {
    justify-content: center;
    align-items: center;
}

